.first-block{
  margin-top: 140px;
  margin-top: 6vw;
  width: 50%;
  margin-left: 25%;
}

.first-block .row{
  margin-top: 70px;
  margin-bottom: 100px;
}


.first-block div h1{
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 4vw;
  text-align: center;
  color: black;
  line-height: 1.5;
}

.first-block div p{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-size: 1.15vw;
  font-weight: 100;
  text-align: center;
  color: rgb(75, 75, 75);
  line-height: 1.5;
  margin-bottom: 3vw;
}

.second-block{
  position: relative;
  margin-top: 150px;
}
.second-block-slider{
  width: 100%;
  margin-bottom: 0 !important;
}

.second-block .slick-dots{
  position: absolute;
  bottom: 0;
  padding: 1vw;
}
.slick-dots li button:before{
  font-size: 1vw;
  color: rgb(255, 255, 255);
  opacity: .5;
}
.slick-dots li.slick-active button:before{
  color: rgb(39, 182, 255);
}


.prev-button, .next-button{
  background: white;
  width: 4vw;
  height: 4vw;
  border: 1px solid rgb(204, 211, 217);
  border-radius: .5vw;
  position: absolute;
  top: 50%;
  opacity: .4;
  cursor: pointer;
}
.prev-button:hover, .next-button:hover{
  opacity: .7;
}
.next-button img{
  margin-left: 1.25vw;
  margin-top: .8vw;
  width: 2vw;
}
.prev-button img{
  margin-top: .9vw;
  margin-left: .8vw;
  width: 2vw;
}

.prev-button{
  left: 0;
}
.next-button{
  right: 0;
}




.third-block{
  width: 60%;
  margin-left: 20%;
  margin-top: 6vw;
}
.third-block .third-block-item{
  margin-bottom: 6vw;
}

.third-block .third-block-item .third-block-left{
  display: inline-block;
  width: 49%;
  /*border: 1px dashed blue;*/
  vertical-align: top;
}
.third-block .third-block-item .third-block-left img{
  width: 100%;
  margin-bottom: 1vw;
}

.third-block .third-block-item .third-block-left p{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-size: .7vw;
  font-weight: 100;
}
.third-block .third-block-item .third-block-left button{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-weight: 100;
  font-size: 1vw;
  background: white;
  color: #27b6ff;
  border: 1px solid #27b6ff;
  margin-top: 1vw;
  border-radius: .5vw;
  padding: .25vw .5vw;
  transition: .3s;
}
.third-block .third-block-item .third-block-left button:hover{
  color: white;
  background: #27b6ff;
  transition: .3s;
}
.third-block .third-block-item .third-block-right{
  display: inline-block;
  width: 49%;
}
.third-block .third-block-item .third-block-right h1{
  font-size: 3vw;
  margin-bottom: 2vw;
}
.third-block .third-block-item .third-block-right p{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-size: .8vw;
  font-weight: 100;
  margin-bottom: 2vw;
}
.third-block .third-block-item .third-block-right img{
  width: 100%;
}






.fourth-block{
  margin-top: 140px;
  margin-top: 6vw;
  width: 50%;
  margin-left: 25%;
}

.fourth-block .row{
  margin-top: 70px;
  margin-bottom: 100px;
}


.fourth-block div h1{
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 4vw;
  text-align: center;
  color: black;
  line-height: 1.5;
}


.fifth-block{
  width: 50%;
  margin-left: 25%;
  text-align: center;
  margin-bottom: 4vw;
}

.fifth-block div{
  color: white;
  background: gray;
  display: inline-block;
  width: 10vw;
  height: 10vw;
  margin-left: 1vw;
  margin-top: 1vw;
  font-size: 1.5vw;
  padding-top: 4vw;
  border: 1px solid #e9e9e9;
}












.sixth-block{
  width: 70%;
  margin-left: 15%;
  text-align: center;

}
.sixth-block div{
  /*border: 1px solid lightblue;*/
  display: inline-block;
  width: 18vw;
  margin: 2vw;
  text-align: left;
  vertical-align: top;
}
.sixth-block div img{
  width: 25%;
}
.sixth-block div h5{
  font-size: 1.6vw;
}
.sixth-block div p{
  font-size: .8vw;
  font-family: MuseoSansCyrl_300, sans-serif;
}








.popup-shadow{
  width: 100vw;
  height: 100vh;
  background: lightgray;
  position: fixed;
  top: 0;
  opacity: .7;
  display: none;
}
.popup{
  width: 50vw;
  position: fixed;
  left: 25%;
  top: 25%;
  background: white;
  opacity: 1;
  text-align: left;
  font-family: MuseoSansCyrl_300, sans-serif;
  display: none;
  padding: 2%;
}

.popup .close{
  position: absolute;
  right: 1vw;
  top: 1vw;
  opacity: .3;
  transition: .3s;
}
.popup .close:hover{
  opacity: 1;
  cursor: pointer;
  transition: .3s;
}

.popup h1{
  font-size: 3.5vh;
  font-weight: bold;
}

.popup .popup-img{
  width: 100%;
}
