.first-block{
  margin-top: 140px;
  margin-top: 6vw;
  width: 50%;
  margin-left: 25%;
}

.first-block .row{
  margin-top: 70px;
  margin-bottom: 100px;
}


.first-block div h1{
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 4vw;
  text-align: center;
  color: black;
  line-height: 1.5;
}

.first-block div p{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-size: 1.15vw;
  font-weight: 100;
  text-align: center;
  color: rgb(75, 75, 75);
  line-height: 1.5;
  margin-bottom: 3vw;
}

.second-block{
  width: 75%;
  margin-left: 15%;
  text-align: center;
  margin-bottom: 6vw;
}

.second-block div{
  display: inline-block;
  width: 18vw;
  height: 18vw;
  background: pink;
  vertical-align: top;
  text-align: center;
  background-size: contain;
}
.second-block div:nth-child(1){
  background-image: url(../src/8_inner/1.jpg);
}
.second-block div:nth-child(2){
  background-image: url(../src/8_inner/2.jpg);
}
.second-block div:nth-child(3){
  background-image: url(../src/8_inner/3.jpg);
}
.second-block div:nth-child(4){
  background-image: url(../src/8_inner/4.jpg);
}
.second-block div h5{
  color: white;
  text-align: center;
  margin-top: 30%;
  font-size: 1.5vw;
  height: 6vw;
  text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.second-block div p{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-size: 1vw;
  margin: 0;
  margin-top: 10%;
  display: inline-block;
  border: 1px solid #c1eaff;
  background: white;
  color: #27b6ff;
  padding: .25vw .5vw;
  border-radius: 1vw;
  transition: .3s;
}
.second-block div p:hover{
  color: white;
  background: #27b6ff;
  border: 1px solid #27b6ff;
  cursor: pointer;
  transition: .3s;
}




.popup-shadow{
  width: 100vw;
  height: 100vh;
  background: lightgray;
  position: fixed;
  top: 0;
  opacity: .7;
  display: none;
}

.popup{
  width: 50vw;
  position: fixed;
  left: 25%;
  top: 25%;
  background: white;
  opacity: 1;
  text-align: center;
  font-family: MuseoSansCyrl_300, sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  display: none;
}
@media only screen and (max-width: 800px){
  .popup{
    top: 10%;
  }
}
.popup .close{
  position: absolute;
  right: 1vw;
  top: 1vw;
  opacity: .3;
  transition: .3s;
  width: 3vw;
}
.popup .close:hover{
  opacity: 1;
  cursor: pointer;
  transition: .3s;
}

.popup h4{
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 2vh;
}
.popup h4:first-of-type{
  text-decoration: underline;
}
.popup h5{
  font-size: 2vh;
  font-weight: bold;
}


.popup p{
  font-size: 1.75vh;
  margin-bottom: 2vh;
}
