.first-block{
  position: relative;
}
.first-block-slider{
  width: 100%;
  margin-bottom: 0 !important;
}

.first-block .slick-dots{
  position: absolute;
  bottom: 0;
  padding: 1vw;
}
.slick-dots li button:before{
  font-size: 1vw;
  color: rgb(255, 255, 255);
  opacity: .5;
}
.slick-dots li.slick-active button:before{
  color: rgb(39, 182, 255);
}


.prev-button, .next-button{
  background: white;
  width: 4vw;
  height: 4vw;
  border: 1px solid rgb(204, 211, 217);
  border-radius: .5vw;
  position: absolute;
  top: 50%;
  opacity: .4;
  cursor: pointer;
}
.prev-button:hover, .next-button:hover{
  opacity: .7;
}
.next-button img{
  margin-left: 1.25vw;
  margin-top: .8vw;
  width: 2vw;
}
.prev-button img{
  margin-top: .9vw;
  margin-left: .8vw;
  width: 2vw;
}

.prev-button{
  left: 0;
}
.next-button{
  right: 0;
}

.second-block{
  margin-top: 4vw;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 6vw;
}

.second-block div h1{
  font-family: MuseoSansCyrl, sans-serif;
  font-size: 4vw;
  text-align: center;
  color: black;
  line-height: 1.5;
  margin-bottom: 3vw;
}

.second-block div p{
  font-family: MuseoSansCyrl_300, sans-serif;
  font-size: 1.22vw;
  font-weight: 100;
  text-align: center;
  color: rgb(75, 75, 75);
  line-height: 1.5;
}










.third-block{
  width: 100%;
  height: 60vw;
  background-image: url("../src/main_about.png");
  background-size: cover;
  color: white;
  padding-top: 5vw;
}

.third-block h1{
  margin-left: 18%;
  font-size: 9vw;
}

.third-block h2{
  margin-top: 4vw;
  margin-left: 18%;
  font-size: 3vw;
  line-height: 1.25;
  width: 22%;
  font-family: MuseoSansCyrl_100, sans-serif;
  display: inline-block;
}

.third-block .rows{
  margin-top: 7vw;
  display: inline-block;
  width: 40%;
  /*border: 1px solid yellow;*/
  vertical-align: top;
  margin-left: 6vw;
}
.third-block .rows p{
  display: inline-block;
  width: 11vw;
  height: 11vw;
  vertical-align: top;
  font-family: MuseoSansCyrl_100, sans-serif;
  font-size: 1.3vw;
  padding: 1vw;
  padding-top: 3vw;
  /*border: 1px dashed white;*/
  margin-bottom: 0;
}


.videoWrapper {
       position: relative;
       padding-bottom: 56.25%; /* 16:9 */
       padding-top: 25px;
       height: 0;
}
.videoWrapper iframe {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
}



.fifth-block{
  width: 100%;
  height: 60vw;
  background-image: url("../src/main_partners.png");
  background-size: cover;
  color: white;
  margin-top: -.5vw;
  position: relative;
}

.fifth-block .left-text{
  position: absolute;
  left: 19%;
  top: 20%;
  font-size: 3vw;
  line-height: 1.2;
  text-transform: uppercase;
}

.fifth-block .right-text{
  font-family: MuseoSansCyrl_300, sans-serif;
  position: absolute;
  left: 55%;
  font-size: 1.5vw;
  top: 30%;
  width: 30%;
}

.fifth-block .right-text p:nth-child(2){
  margin-top: 10%;
}







.sixth-block{
  width: 100%;
  height: 50vw;

}



#legend{
  background: white;
  border: 5px solid #1689fc;
  padding: 1vw;
  margin-right: 2vw;
  max-height: 80%;
}

#legend .legend-central{

}

  #legend .legend-central h4{
    font-family: MuseoSansCyrl_400, sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    text-align: center;
  }
  #legend .legend-central p{
    font-size: .8vw;
  }

  #legend .legend-more{
    text-align: center;
    margin: 1vw 0;
  }
  #legend .legend-more p{
    color: #0598ff;
    display: inline-block;
    border: 2px solid #0598ff;
    border-radius: .5vw;
    font-size: 1vw;
    padding: .5vw 1vw ;
    cursor: pointer;
    transition: .3s;
  }
  #legend .legend-more p:hover{
    color: white;
    background: #0598ff;
    transition: .3s;
  }

  #legend .legend-filials{
    text-align: center;
  }
  #legend .legend-filials h1{
    font-size: 1vw;
    font-family: MuseoSansCyrl_400, sans-serif;
    font-weight: bold;
    font-size: 1vw;
  }
  #legend .legend-filials h2{
    font-size: 1vw;
  }
  #legend .legend-filials p{
    font-size: .8vw;
  }
