@font-face {
  font-family: MuseoSansCyrl; /* Гарнитура шрифта */
  src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl.otf); /* Путь к файлу со шрифтом */
  src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl_0.otf); /* Путь к файлу со шрифтом */
  src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl_1.otf); /* Путь к файлу со шрифтом */
  src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl_2.otf); /* Путь к файлу со шрифтом */
  src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl_3.otf); /* Путь к файлу со шрифтом */
}
body, h1{
  font-family: MuseoSansCyrl, sans-serif;

}

.header-top{

  width: 100%;
  vertical-align: middle;
}

.header-logo{
  display: inline-block;
  margin-left: 9%;
  height: 3vw;
  cursor: pointer;
}

.company-and-contacts{
  display: inline-block;
  /*border: 1px solid black;*/
  color: #3a99d9;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 3%;
  font-family: MuseoSansCyrl_600, sans-serif;
  font-size: 1vw;
}

.partners{
  display: inline-block;
  font-family: MuseoSansCyrl_600, sans-serif;
  font-size: 1vw;
  padding-left: 1%;
}

.phone{
  display: inline-block;
  font-family: MuseoSansCyrl_600, sans-serif;
  font-size: 1vw;
  padding-left: 3%;
}
.email{
  display: inline-block;
  font-family: MuseoSansCyrl_600, sans-serif;
  font-size: 1vw;
  padding-left: 3%;
}

.ru-en{
  display: inline-block;
  font-family: MuseoSansCyrl_100, sans-serif;
  font-size: .8vw;
  color: #a3acb5;
  padding-left: 3%;
  margin-right: 1vw;
}
.ru-en span:nth-child(1){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ru-en span:nth-child(2){
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.ru-en span{
    background: #909aa3;
    display: inline-block;
    padding: 9px 5px;
}

.ru-en span.active{
  background: #5e6a75;
  color: white;
}
header a img{
    width: 2vw;
    margin-top: -.2vw;
    margin-left: .3vw;
  }

}

/*NAV BAR*/
.header-nav{
  width: 100%;
}

.nav-bar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 10%;
  background-color: #0598ff;
}

.nav-bar li{
    display: inline-block;
    /*background: lightblue;*/
    width: 11%;
    vertical-align: top;
    margin: 5px 0;
    vertical-align: middle;
    margin-left: 2%;


}

.nav-bar li a{
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  font-family: MuseoSansCyrl_100, sans-serif;
  font-size: 1vw;
}
.nav-bar li a:hover{
  text-decoration: none;

}

footer{
  position: relative;
  top: -1px;
  color: white;
  background: #161616;
  padding-left: 16%;
  padding-top: 75px;
  padding-bottom: 50px;
  vertical-align: top;
}

.footer-left-part{
  font-size: 1vw;
  /*border: 1px solid yellow;*/
  display: inline-block;
  width: 100%;
}

.footer-col-1{
  display: inline-block;
  /*border: 1px solid white;*/
  width: 15%;
  vertical-align: top;
  margin-left: 15px;
}

.footer-col-1 a{
  display: block;
  font-family: MuseoSansCyrl_100, sans-serif;
  color: white;
  height: 3.5vw;
  margin-bottom: 20px;
}

.footer-col-1 a:nth-child(1){
  font-size: .8vw;
}

.footer-col-1 a:nth-child(n+2){
  font-size: 1.1vw;
  margin-bottom: 2vw;
}

.footer-col-2{
  display: inline-block;
  margin-left: 15%;
  font-family: MuseoSansCyrl_100, sans-serif;
  font-size: 1.8vw;
}
.footer-col-2-link{
  margin-top: 20px;
  font-size: 1.2vw;
}
.footer-col-2 a img{
  margin-top: 10px;
  margin-right: 5px;
}
